.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", users_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_user_path
  .content
    %h2.title= "#{t("web-app-theme.all", :default => "All")} Users" 
    .inner
      %table.table
        %tr
          %th.first ID 
          %th= t("activerecord.attributes.user.email", :default => t("activerecord.labels.email", :default => "Email"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @users.each do |user|
          %tr{:class => cycle("odd","even")}
            %td= user.id
            %td= user.email
            %td= user.created_at
            %td.last
      .actions-bar.wat-cf
        .actions
