<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Twitter Integration</title>
	<%= stylesheet_link_tag "web_app_theme", "web_app_theme_override", "themes/default/style", :cache => true %>
    <%= javascript_include_tag :defaults, "jquery","jquery.NobleCount.js", :cache => true %>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-11688826-3']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">Twitter Integration - by @pedromtavares</a></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
		  <% unless current_user %>
          		<li><%= link_to 'Login',login_users_path, :class => 'logout' %></li>
		  <% else%>
				<li style="color:white">Logged in as <%=current_user.email%></li>	
				<li><%= link_to 'Logoff',logoff_users_path, :class => 'logout' %></li>
		  <% end %>
        </ul>
      </div>      
      <div id="main-navigation">
        <ul class="wat-cf">
        	<li><%=link_to 'Twitter', twitter_index_path%></li>
			<li><%=link_to 'Users', twitter_index_path if current_user && current_user.admin%></li>
			<li><%=link_to 'Register', new_user_path unless current_user%></li>
        </ul>
      </div>
    </div>    
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block center">
            <p>This is an example application mentioned in this <a href="http://pedromtavares.wordpress.com/2010/06/21/integrating-rails-with-twitter/">blog post</a> by <a href="http://twitter.com/pedromtavares">Pedro Mateus Tavares </a>. Happy tweeting :P</p>
          </div>      
        </div>
      </div>
    </div>    
  </div>
</body>
</html>
